/*#fdf6e3 - Solorized background */

div.body {
    margin: auto;
    /* width: 768px; */
    padding: 1em 2em 2em 2em;
    border: 1px solid gray;
    max-width: 1024px;
    box-shadow: 0 0 10px;
}

/*Pictures*/
img {
    max-width: 100%;
}

/*Links*/
a {
    text-decoration: none;
    color: #3572b0;
}

/*Tables*/
table {
    margin-left: auto;
    margin-right: auto;
}

/*Headers*/
h1, h2, h3, h4, h5, h6 {
    color: #205081;
}

h1, h2, h3 {
    font-family: "Circular Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    text-transform: none;
    margin: 30px 0 0 0;
    word-wrap: break-word;
}

h2 {
    text-align: center;
    font-size: 24px;
    line-height: 1.25;
    font-weight: normal;
    text-transform: none;
    margin: 30px 0 0 0;
}

h3 {
    font-size: 18px;
    line-height: 1.25;
    font-weight: normal;
    text-transform: none;
}

/*Preformed sections*/
pre {
    border: solid 1px #657b83;
    padding: 5px;
    background: #fdf6e3;
    color: #657b83;
    overflow: auto;
    max-height: 500px;
}

pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: inherit;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #bfbfbf;
}

pre::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}

@media print {
    div.body {
        border: none;
        margin: initial;
    }

    pre {
        overflow-wrap: break-word;
        max-height: initial;
    }
}
